body {
  font-family: "Lato", sans-serif;
}

#recorder {
  display: none;
}

.bottom-bar {
  bottom: 2%;
}

#downloadButton {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 5vmin;
  font-weight: 1000;
  color: white;
  padding: 0.3em 0.6em 0.3em 0.6em;
  border-radius: 0.5em;
}

#actionButton {
  background-color: rgba(0, 0, 0, 0.5) !important;
  font-weight: 1000;
  /* display: none; */
}

#requestingCameraIcon {
  display: none !important;
}

#requestingCameraPermissions {
  background-color: transparent !important;
  color: white !important;
  text-align: center;
  font-size: 25px !important;
}

.button-primary-8w {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

#loadBackground {
  background-color: black !important;
  background-image: url('https://techcoreassets.blob.core.windows.net/images/EnterpriseGIS_logo.png');
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: 170%;
}

.poweredby-img {
  display: none !important;
}

#scaleImage {
  text-decoration: none;
  font-size: 1.0em;
  font-weight: 1000;
  cursor: pointer;
  color: white;
  padding: 0.3em 0.7em 0.3em 0.7em;
  border: solid white 0.1em;
  width: 20%;
  height: auto;
  position: absolute;
  bottom: 6vh;
  left: 40vw;
  text-align: center;
  border-radius: 1.5em;
  display: none;
}

#main {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 4;
  bottom: 0;
  left: 0;
  display: block;
}